[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sudheer52
[access "refs/for/refs/*"]
	read = group user/sudheer52
	push = group user/sudheer52
	label-Code-Review = -2..+2 group user/sudheer52
	label-Verified = -1..+1 group user/sudheer52
	rebase = group user/sudheer52
	removeReviewer = group user/sudheer52
	submit = group user/sudheer52
[access "refs/heads/*"]
	read = group user/sudheer52
	create = group user/sudheer52
	push = +force group user/sudheer52
	pushMerge = group user/sudheer52
[access "refs/tags/*"]
	push = group user/sudheer52
	push = +force group user/sudheer52
